h1{
    border:2px solid red;
    width:40rem;
    margin:2rem auto;
    background-color:azure;
    /* border-radius:1rem;
    padding-left:40rem;
    padding-bottom:5px;
    padding-top:5px; */
    /* margin-left:20rem;
    /* margin-right:20rem; */
} 