/* class ki preference pehle hai tag se
.hello{
    color:green;

}
h1{
    color:rgb(231, 33, 33);
}
#h1-hello{
    color:rgb(43, 226, 186);
} */
div#container ul.my-songs li{
    color:rgb(231, 33, 33);
    background-color:rgb(43, 226, 186);
}
div#container ul.my-songs li.favourite{
    color:rgb(172, 236, 22);
}